@use 'config' as c;

:root {
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: 16px;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #000000;
  text-decoration: none;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: c.$page-gap;
    transition: all 1s ease;
}
.body_dark{
  background-color: #351F39;
}
header {
  position: relative;
  width: c.$page-w;
  height: var(--header-height);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;    
  z-index: 7;
  transition: all 1s ease;
  nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;

    ul{
      display: flex;
      width: var(--header-nav-width);
      height: var(--header-nav-height);
      justify-content: center;
      align-items: center;
      margin-bottom: 0 !important;
      gap: 1rem;
      li,a,a:visited,a:hover{
        text-decoration: none;
        list-style: none;
        color: c.$link-text-c;
      }
      

    }
  }
  .logo{
    margin: 0;
    margin-left: var(--header-padding);
  }
  menu{
    width: 50px;
    height: 50px;
    font-size: 36px;
    display: grid;
    place-items: center;
    margin-right: var(--header-padding);

  }
  
}
.header_dark{
  background-color: #2ab7ca;
}
main{
  position: relative;
    width: c.$page-w;
    min-height:500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
    gap: var(--main-content-gap);
    // padding: c.$main-padding;
    section{
      position: relative;
      width: 100%;
      display: flex;
      .cont{
        width: c.$cont-w;
        height: c.$cont-h;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
}
footer{
  width: c.$page-w;
  border-top: 1px solid #000000;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  transition: all 1s ease;
}
.footer_dark{
  background-color: #50577A;
  border-top: 1px solid #A3C7D6;
}
.offcanvas_dark{
  background-color: #50577A;
  border-left: 2px solid #A3C7D6;
}
label {
    display: flex;
    align-items: center;
  }
