// Default styling 
// ++++++++++++++++++++++++++++++=

$page-gap: 1rem;    
$main-padding: 0rem;
$card-size:400px;
$card-padding:1rem;
$page-w: 100%;
$section-h: 700px;
$cont-w: 50%;
$cont-h: 100%;
$link-text-c:#000000;
// $cont-whole: 100%;
// ++++++++++++++++++++++++++++++=




:root{
    --header-height: 72px;
    --header-padding: 3rem;
    --header-nav-width: fit-content;
    --header-nav-height: fit-content;
    // main content gap
    --main-content-gap: 2rem;
    --page-w: 70%;
    --layer1: 100;
    --font_mob:10px;
    --card-padding_mob:3px;

    // mobile style config
    --section-h_mob: 900px; 
}
.prime{
    background-color: #dee1e6;
}
.accent{
    background-color: #ffffff;
}
.sub{
    background: hsla(213, 80%, 57%, 1);
    background: -webkit-linear-gradient(180deg, hsla(213, 80%, 57%, 1) 0%, hsla(212, 74%, 73%, 1) 100%);
}
.navy{
   background-color: #ffffff;
}