button{
    background-color: transparent;
    border: none;
}
.contact_btn{
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
    border: "1px solid #ffffff";
    transition: all 1s ease;
}
.contact_btn_dark{
    background-color: #2c65ad;
    color: #ffffff;
    border: 1px solid #A3C7D6;
}
.light_btn{
    margin-right: 2rem;
}